.layout {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 250px;
    /* Match sidebar width */
    background-color: var(--color-background);
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-8);
}